$white: #ffffff
$font: Helvetica, Arial, Sans-serif
$black: #1c1c1c
$gray: #f0f1f4 
$rosa: #e23744
$yellow: #f5a623

body
    font-family: $font

.home 
    background: $black

.imagen
   width: 100%
   height: 625px
   opacity: 0.5

.carousel-caption
                top: 150px
                text-align: left
                
h1
  font-size: 25px
  color: $white

.welcome
        display: flex
        color: $white
        width: 935px
        height: 43px
        font-size: 40px
        line-height: 40px
        overflow: hidden
        position: absolute

.ul 
  list-style: none
  padding-left: 18px
  animation: cambiar 7s infinite

@keyframes cambiar
                    0% 
                      margin-top: 0
                    20% 
                      margin-top: 0
                    25% 
                      margin-top: -42px
                    50% 
                      margin-top: -42px
                    55% 
                      margin-top: -82px
                    80% 
                      margin-top: -82px
                    85% 
                      margin-top: -42px
                    95% 
                      margin-top: -42px
                    100% 
                      margin-top: 0
  
.btn
    margin-top: 80px
    font-size: 20px

#btn-three, #btn-two
        margin: 20px

.h1-two
  font-size: 45px
  color: $white
  margin-top: 5%

.welcome-two
        display: flex
        color: $white
        width: 935px
        height: 40px
        font-size: 30px
        line-height: 40px
        overflow: hidden
        position: absolute

.ul-two
  list-style: none
  padding-left: 20px
  animation: cambia 9s infinite

@keyframes cambia
                    0% 
                      margin-top: 0
                    20% 
                      margin-top: 0
                    25% 
                      margin-top: -40px
                    50% 
                      margin-top: -40px
                    55% 
                      margin-top: -80px
                    80% 
                      margin-top: -80px
                    85% 
                      margin-top: -40px
                    95% 
                      margin-top: -40px
                    100% 
                      margin-top: 0

.welcome-three
             margin: auto
             display: table


.h1-three 
       position: relative 
       float: left
       color: $white
       font-size: 2.5em
       background: $black
       width: 100%
       padding: 15px
       font-size: 45px
       border-radius: 10px



.h1-three .span-three
          background: $black
          color: $white
          position: absolute
          right: 0
          width: 0
          border-left: 1px solid 
          animation: escribir 5s steps(30) infinite alternate

@keyframes escribir
                   0% 
                    width: 100% 
                   100% 
                    width: 0 


     
nav
  background: rgb(3, 3, 3, 0.5)
  transition: all 0.5s ease

.nav-item
      font-size: 18px
      padding: 0px 30px
a
 color: $white

a:hover 
     color: $black

.list
 font-size: 18px
 color: $black


.containers
    display: flex
    justify-content: center 
    padding:  58px 0px 0px 0px

.container
         width: 33%
         font-family: $font

.container-one
          margin-left: 25%

.photo
    width: 130px
    height: 130px
    border-radius: 100%
    border:1px solid $gray

.h1
  color: $black 
  font-size: 16px

.buttons
    display: none

.title
      width: 300px
      padding: 7px 
      background: $rosa
      color: $white 
      border-bottom: 1px solid $rosa
      display: block
      cursor: pointer

.title:hover 
          background: $white
          color: $rosa      

.content
       height: 0      
       overflow: hidden
       transition: all 0.5s  
       margin: 0
         
.buttons:checked ~ .content
                    height: auto
                    

.title-work
        margin: auto
        padding: 15px 5px 5px 1px 
        width: 15%
        background: $yellow
        text-align: center
        color: $white
        font-size: 20px
 
.container-cards
              display: flex
              flex-wrap: wrap
              justify-content: center  
              padding: 55px   

.card 
    width: 360px
    height: 250px
    background: #000
    margin: 5px

.image
          width: 100%
          height: 100%
          overflow: hidden

.card-imagen 
            width: 100%
            transition: .5s

.card:hover .card-imagen
                  opacity: .5
                  transform: translateX(30%)

.details 
            position: absolute
            top: 0
            left: 0
            width: 90% 
            height: 100%
            background: $yellow
            transition: .5s
            transform-origin: left
            transform: perspective(2000px) rotateY(-90deg)

.card:hover .details 
            transform: perspective(2000px) rotateY(0deg)

.center 
                  padding: 40px
                  text-align: center
                  background: #fff
                  position: absolute
                  top: 50%
                  transform: translateY(-50%)

.card-title
                  margin: 0
                  padding: 0
                  color: #ff3636
                  line-height: 20px
                  font-size: 20px
                  text-transform: uppercase

.card-span 
                  font-size: 14px
                  color: #262626

-card-text
                  margin: 10px 0
                  padding: 0
                  color: #262626



.card-list
    margin: 10px auto 0
    padding: 0
    display: table

.card-li
    list-style: none
    margin: 0 5px
    float: left

#btn
   font-size: 12px
   margin: 0

.container-contact
                display: flex
                justify-content: center
                padding: 55px

.contact-image
      margin-top: 50px
      width: 30%
      text-align: center

.contact-title
           text-align: center 
           font-size: 18px

.contact-list
            text-align: center
            padding: 20px

footer
     background: $black
     color: $white
     position: absolute
     bottom: 0
     width: 100%
